In [23]:
import pandas as pd
import numpy as np

#### Dummy dataFrame

In [24]:
df = pd.DataFrame({"col_1": [1,2,3,4,5,6,7,8,9,10],
                   "col_2": [0,1,2,3,4,5,6,7,8,9],
                   "col_3": [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10]})

display(df)

   col_1  col_2  col_3
0      1      0     -1
1      2      1     -2
2      3      2     -3
3      4      3     -4
4      5      4     -5
5      6      5     -6
6      7      6     -7
7      8      7     -8
8      9      8     -9
9     10      9    -10

### Create a new feature by adding two or more columns

In [25]:
# addition
df["new_col_1"] = df["col_1"] + df["col_2"] + df["col_3"]

# addition, subtraction
df["new_col_2"] = df["col_1"] - df["col_2"] + df["col_3"]

# subtraction, multiplication
df["new_col_3"] = df["col_1"] - (df["col_2"] * df["col_3"])

# addition, division
df["new_col_4"] = df["col_1"] + (df["col_2"] / df["col_3"])

# square
df["new_col_5"] = df["col_1"]**2

# exponent (n-th power)
df["new_col_6"] = df["col_1"]**df["col_2"]

# remainder
df["new_col_7"] = df["col_1"]%df["col_2"]

# floor
df["new_col_8"] = df["col_2"] // df["col_1"]

# rounding
df["new_col_9"] = df["new_col_4"].round(2)

# statistics: standerdization
df["new_col_10"] = (df["col_1"] - df["col_1"].mean())/df["col_1"].std()

# lag
df["lag"] = df["new_col_10"].shift(2)

# lead
df["lead"] = df["new_col_10"].shift(-2)

display(df)

,col_1,col_2,col_3,new_col_1,new_col_2,new_col_3,new_col_4,new_col_5,new_col_6,new_col_7,new_col_8,new_col_9,new_col_10,lag,lead
0,1,0,-1,0,0,1,1.000000,1,1,NaN,0,1.00,-1.486301,NaN,-0.825723
1,2,1,-2,1,-1,4,1.500000,4,2,0.0,0,1.50,-1.156012,NaN,-0.495434
2,3,2,-3,2,-2,9,2.333333,9,9,1.0,0,2.33,-0.825723,-1.486301,-0.165145
3,4,3,-4,3,-3,16,3.250000,16,64,1.0,0,3.25,-0.495434,-1.156012,0.165145
4,5,4,-5,4,-4,25,4.200000,25,625,1.0,0,4.20,-0.165145,-0.825723,0.495434
5,6,5,-6,5,-5,36,5.166667,36,7776,1.0,0,5.17,0.165145,-0.495434,0.825723
6,7,6,-7,6,-6,49,6.142857,49,117649,1.0,0,6.14,0.495434,-0.165145,1.156012
7,8,7,-8,7,-7,64,7.125000,64,2097152,1.0,0,7.12,0.825723,0.165145,1.486301
8,9,8,-9,8,-8,81,8.111111,81,43046721,1.0,0,8.11,1.156012,0.495434,NaN
9,10,9,-10,9,-9,100,9.100000,100,1000000000,1.0,0,9.10,1.486301,0.825723,NaN